{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Submit a new booking -->
 <div class="container">
  <div class="row shadow-lg p-3 mb-4 bg-body rounded justify-content-center">
    <div class="col-md-6">
      <div class="card-body justify-content-center">
        {% if user.is_authenticated %}      
        <p id="user-greeting">Welcome back {{ user }}</p>
        <form id="bookingForm" method="post"
          style="margin-top: 1.3em; align-content: center">
          {{ booking_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-outline-success">Book Appointment</button>  
           |
           <a href="{% url 'profile' %}" class="btn btn-outline-warning" type="button"> >> Go Back</a>
        </form>
        {% else %}
        <p>Log in to make an appointment with us.</p>
        {% endif %}
      </div>
    </div>
  </div>
 </div>

 {% endblock %}