{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Creating New Comments -->
<div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
      {% if user.is_authenticated %}      
      <p>Welcome back {{ user }}</p>
      <form id="bookingtForm" method="post"
        style="margin-top: 1.3em;">
        {{ booking_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit"
          class="btn btn-signup btn-lg">Submit</button>
      </form>
      {% else %}
      <p>Log in to make an appointment with us.</p>
      {% endif %}
    </div>
 </div>
 {% endblock %}