{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <section id="about-us">
                <div class="container shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>About Us</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                                Placeholder Content Placeholder Content Placeholder Content Placeholder Content
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
            </div>            
            <section id="services">
                <div class="container">
                    <h3>Our Services</h3>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <h6>Go somewhere</h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <h6>Go somewhere</h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                              <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <h6>Go somewhere</h6>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <h6>Go somewhere</h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <h6>Go somewhere</h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                              <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <h6>Go somewhere</h6>
                              </div>
                            </div>
                          </div>
                      </div>
                </div>
            </section>
            <div class="container">
              <div class="row">
                  <div class="col">
                      <hr>
                  </div>
              </div>
            </div> 
            <section id="gallery">
                <div class="container">
                  <h3>Gallery</h3>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                        <img src="/static/images/dog_claw_1.webp" class="card-img" alt="Dog Claw Cleaning">                    
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                        <img src="/static/images/dog_brush_1.webp" class="card-img" alt="Dog Fur Brushing">                    
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                        <img src="/static/images/dog_wash_2.webp" class="card-img" alt="Dog Bathing">                    
                      </div>
                    </div>
                  </div>    
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                        <img src="/static/images/dog_groom_3.webp" class="card-img" alt="Dog Fur Combing">                    
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                        <img src="/static/images/dog_face.webp" class="card-img" alt="Scruffy Dog">                    
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                        <img src="/static/images/dog_shower.webp" class="card-img" alt="Dog shower">                    
                      </div>
                    </div>
                  </div>                
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}