{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">        
        <div class="col">
            <div class="container-fluid">          
                <div class="row">               
                   <div class="d-flex justify-content-center mt-auto sl-box">
                         <h1 id="slogan">Best of Bandon's K-9 care!</h1>
                   </div>
                </div>
             </div>
            <section id="#about-us">
                About section
            </section>
            <section id="#services">
                Services section
            </section>
            <section id="#gallery"></section>
                Gallery section
            </section>
        </div>
    </div>
</div>

{% endblock %}