{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="padding-bottom: 10px;">
  <div class="row justify-content-center" id="booking-table">
    <div class="col-md-8">      
      <table class="table table-striped table-hover">   
          <header class="booking-header">Your Appointments</header>       
          <thead>
              <tr>              
                <th scope="col">Groom</th>
                <th scope="col">Staff</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>          
            <tbody>           
                {% for booking in bookings %}
                <tr>              
                  <td>{{ booking.get_service_display }}</td>
                  <td>{{ booking.get_staff_display }}</td>
                  <td>{{ booking.appointmentDay }}</td>
                  <td><button class="btn btn-warning"><a href="{% url 'update_url' booking.id %}">Update</a></button>                
                    | 
                    <button class="btn btn-danger"><a href="{% url 'delete_url' booking.id %}">Delete</a></button> 
                    <!-- <button type="button" class="btn btn-delete btn-outline-danger"
                    data-booking_id="{{ booking.id }}">Delete</button>  -->
                    </td>
                </tr>
                {% endfor %}           
            </tbody>         
      </table>      
    </div>    
  </div>
  <div class="row justify-content-center">
    <div class="d-grid gap-2 col-md-4 mx-auto">
      <a href="{% url 'booking_page' %}" class="btn btn-outline-success">Book Appointment</a>
      <!-- <button type="button" class="btn btn-outline-success">Book Appointment</button>   -->
    </div>
  </div>
</div>

{% endblock %}