body {
    background-color: #fafafa;
    padding-top: 100px;
}
/* ---------------------------------------------------------- Nav bar*/
nav {
    background-color: #353354;
}
i {
    color:#f2b30d; 
}
#logo {
    height: 50px;
    width: 50px;
}
.nav-link:hover{
    color: #f2b30d !important; 
}
/* --------------------------------------------------- Messages section */
.message-align-fix {
    color: #353354;
    margin-bottom: 5px;
}
/* --------------------------------------------------- Hero section */

.hero {
    background: url('/static/images/dog_face.webp') no-repeat center top;
    min-height: 300px;
    width: 100%;
    margin-top: -40px;     
    padding-top: 0px;
    padding-left: 30px;
    align-self: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; 
}
#hero-text {    
    color: #fafafa;
    font-weight: 300;  
    font-size: 20px;  
    text-shadow: -2px -2px 7px rgba(0,0,0,.4), -2px -2px 3px rgba(255,255,255,.6);
}

.sl-box {
    height: 120px;    
    flex-direction: row;        
    align-items: flex-end;
    letter-spacing: 3px;
}
/* ------------------------------------------------------ index.html*/
.card {
    align-items: center;
    align-content: center; 
    text-align: center;   
    margin: 10px;
    font-weight: bold;
}
.card-header h3 {
    color:#353354;
}
.card-body {
    align-items: center;
    align-content: center;
    text-align: center;
    color: #353354;
    font-weight: bold; 
}
.card-body .card-text{
    color: #353354;
    font-weight: bold;   
}
#services h3 ,
#gallery h3 {
    text-align: center;   
    color:#353354; 
}

/* ---------------------------------------------------- Booking list*/
.no-bookings {
    color:#353354;
    text-align: center;
    font-weight: bold;
}
.booking-header {
    text-align: center;
    color: #353354;
    font-weight: bold;
    font-size: 1.3rem;
}
/* ---------------------------------------------------- Booking Form*/
#user-greeting {
    color: #353354;
    font-weight: bold;
}
/* ----------------------------------------------------------Footer */
footer {
    background-color: #353354;
}

.footer-content {    
    color: #fafafa;
}

.footer-content > ul {
    padding-top: 20px;
}

.footer-content ul li {
    list-style-type: none;
}

.footer-content ul li h5 {
    color: #f2b30d;
}

.footer span {
    color: #f2b30d;
}

#map {
    margin-top: 10px;
    padding-top: 20px;
    height: 210px; 
    width: auto;
}

.social-links li ~ li {
    padding-left: 8px;
}
.social-links li a i:hover{
    color: #fafafa;
}

/* Larger screens hide the hero image */
@media screen and (min-width: 768px){
    .hero {
        display: none;
    }     
}